[submodule "volley"]
	path = volley
	url = git@github.com:mcxiaoke/android-volley.git
[submodule "awesome-android-person"]
	path = awesome-android-person
	url = git@github.com:yeungeek/awesome-android-person.git
