gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build

.settings
# Ignore Gradle GUI config
gradle-app.setting

#Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
/*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws